.about-sec{
    padding: 50px;
}

.about-img{
    width: 50%;
    margin-left: 100px;
    border-radius: 10px;
}

.about-column-p{
    padding-top: 50px;
}

@media (max-width: 600px) {
    .about-column {
        width: 100%;
    }

    .about-img {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .about-sec{
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .about-column-p{
        padding-top: 0px;
    }
    
  }