.banner{
  display: flex;
}

.first_grid-column{
  width: 60%;
}

.second-first_grid-column{
  width: 40%;
}

@media (max-width: 600px) {
  .banner{
    display: block;
  }
  .first_grid-column{
    width: 100%;
  }
  
  .second-first_grid-column{
    width: 100%;
  } 
  }